In [1]:
import turicreate

In [2]:
sales=turicreate.SFrame('kc_house_data.csv')

Finished parsing file /home/arkojit/ML Regression/kc_house_data.csv

Parsing completed. Parsed 100 lines in 0.426946 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,float,int,float,int,int,float,int,int,int,int,int,int,int,int,int,float,float,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/arkojit/ML Regression/kc_house_data.csv

Parsing completed. Parsed 21613 lines in 0.322818 secs.

In [3]:
train_data,test_data = sales.random_split(.8,seed=0)

In [4]:
train_data['bedrooms_squared']=train_data['bedrooms']*train_data['bedrooms']

In [5]:
test_data['bedrooms_squared']=test_data['bedrooms']*test_data['bedrooms']

In [6]:
train_data['bed_bath_rooms'] = train_data['bedrooms']*train_data['bathrooms']
test_data['bed_bath_rooms'] = test_data['bedrooms']*test_data['bathrooms']

In [7]:
from math import log

In [9]:
train_data['log_sqft_living'] = train_data['sqft_living'].apply(lambda x: log(x));
test_data['log_sqft_living'] = test_data['sqft_living'].apply(lambda x: log(x));

In [10]:
train_data['lat_plus_long'] = train_data['lat']+train_data['long']
test_data['lat_plus_long'] = test_data['lat']+test_data['long']

In [12]:
print(test_data['bedrooms_squared'].mean())
print(test_data['bed_bath_rooms'].mean())
print(test_data['log_sqft_living'].mean())
print(test_data['lat_plus_long'].mean())

12.4466777015843
7.5039016315913925
7.550274679645938
-74.65333355403172

In [13]:
model_1_features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']
model_2_features = model_1_features + ['bed_bath_rooms']
model_3_features = model_2_features + ['bedrooms_squared', 'log_sqft_living', 'lat_plus_long']

In [14]:
model_1=turicreate.linear_regression.create(train_data, target='price', features=model_1_features, validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 5

Number of unpacked features : 5

Number of coefficients    : 6

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 1.270171     | 4074792.266571     | 236378.065704                   |

| 2         | 3        | 1.504648     | 4074792.266501     | 236378.065703                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

In [15]:
model_2=turicreate.linear_regression.create(train_data, target='price', features=model_2_features, validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 7

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 0.205030     | 4014053.068795     | 235190.383245                   |

| 2         | 3        | 0.365837     | 4014053.068757     | 235190.383243                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

In [16]:
model_3=turicreate.linear_regression.create(train_data, target='price', features=model_3_features, validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 9

Number of unpacked features : 9

Number of coefficients    : 10

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------------------------+

| Iteration | Passes   | Elapsed Time | Training Max Error | Training Root-Mean-Square Error |

+-----------+----------+--------------+--------------------+---------------------------------+

| 1         | 2        | 0.094557     | 3193116.484465     | 228199.723039                   |

| 2         | 3        | 0.170454     | 3193116.484452     | 228199.723038                   |

+-----------+----------+--------------+--------------------+---------------------------------+

SUCCESS: Optimal solution found.

In [23]:
model_1.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 6

Data:
+-------------+-------+---------------------+--------------------+
|     name    | index |        value        |       stderr       |
+-------------+-------+---------------------+--------------------+
| (intercept) |  None |  -56141852.4643523  | 1649928.3578200282 |
| sqft_living |  None |  310.2635067230147  | 3.1888206232741747 |
|   bedrooms  |  None |  -59577.60521214541 |  2487.27455846218  |
|  bathrooms  |  None |  13812.406875960658 | 3593.5344057226766 |
|     lat     |  None |  629863.1199344309  | 13120.688669932779 |
|     long    |  None | -214800.95230047495 | 13283.820388143842 |
+-------------+-------+---------------------+--------------------+
[6 rows x 4 columns]

In [24]:
model_2.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 7

Data:
+----------------+-------+---------------------+--------------------+
|      name      | index |        value        |       stderr       |
+----------------+-------+---------------------+--------------------+
|  (intercept)   |  None |  -54412036.39657721 | 1650346.0973385612 |
|  sqft_living   |  None |  304.44950523902287 | 3.2021651828163895 |
|    bedrooms    |  None | -116366.74281849797 | 4805.533985501167  |
|   bathrooms    |  None |   -77972.105640905  | 7565.034160769172  |
|      lat       |  None |  625431.0420620119  | 13058.330836252813 |
|      long      |  None | -203970.82493611673 | 13267.64904073474  |
| bed_bath_rooms |  None |  26961.730297756458 | 1956.3589936654562 |
+----------------+-------+---------------------+--------------------+
[7 rows x 4 columns]

In [25]:
model_3.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 10

Data:
+------------------+-------+--------------------+--------------------+
|       name       | index |       value        |       stderr       |
+------------------+-------+--------------------+--------------------+
|   (intercept)    |  None | -52975504.21396538 | 1615141.289061134  |
|   sqft_living    |  None | 529.1932722503349  | 7.6991225729954245 |
|     bedrooms     |  None | 28944.217163039222 | 9395.700864403312  |
|    bathrooms     |  None | 65659.90305623716  | 10795.320046403624 |
|       lat        |  None | 704763.1651200523  | 805406853.9031433  |
|       long       |  None | -137781.4713925541 | 805406853.4847842  |
|  bed_bath_rooms  |  None | -8477.927639034344 | 2858.949655170277  |
| bedrooms_squared |  None | -6072.03763855174  | 1494.9671654104868 |
| log_sqft_living  |  None | -563459.7580526122 | 17567.817600117156 |
|  lat_plus_long   |  None | -83220.68126130436 | 805406853.7781365  |
+------------------+-------+--------------------+--------------------+
[10 rows x 4 columns]

AttributeError: 'LinearRegression' object has no attribute 'get_residual_sum_of_squares'